<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bear Training</title>
  </head>
  <body>
    <h1>Black, Grizzly or Teddy!</h1>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
                <h1 class="mb-5"> Flask Image Upload and Display</h1>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {% for error in form.photo.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    <div class="row justify-content-center">
                        <div class="col-auto">
                            {{ form.photo(class="form-control") }}
                        </div>
                        <div class="col-auto">
                            {{ form.submit(class="btn btn-success") }}
                        </div>
                    </div>
                </form>
                {% if file_url %}
                    <div class="mt-5">
                        <img src="{{ file_url }}" style="width: 400px;">
                    </div>
                {% endif %}
                {% if pred %}
                <p>Predicted classification = {{ pred }}</p>
                <p>Probabilities = {{ probs }}</p>
                {% endif %}
            </div>
        </div>
    </div>
  </body>
</html>